<?xml version="1.0" encoding="UTF-8"?>
<!--
  PHPUnit 9.6 configuration for the WooCommerce release job.
  The WordPress 7.1.2 test library calls parseTestMethodAnnotations(), which PHPUnit 10 removed.
  The default phpunit.xml.dist suite does not load this file and does not boot WooCommerce.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/environments/bootstrap-wordpress.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="false"
         convertDeprecationsToExceptions="false">
    <testsuites>
        <testsuite name="woocommerce-release">
            <file>tests/environments/WooCommerceReleaseTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
